CREATE TABLE IF NOT EXISTS public.sample_packs (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), name TEXT NOT NULL, pack_type TEXT NOT NULL, category TEXT, max_items INTEGER, price NUMERIC NOT NULL, active BOOLEAN DEFAULT true, created_at TIMESTAMPTZ NOT NULL DEFAULT now(), updated_at TIMESTAMPTZ NOT NULL DEFAULT now()); ALTER TABLE public.sample_requests ADD COLUMN IF NOT EXISTS sample_pack_id UUID REFERENCES public.sample_packs(id), ADD COLUMN IF NOT EXISTS price NUMERIC; ALTER TABLE public.sample_packs ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Public
can
view
active
sample_packs\ ON public.sample_packs FOR SELECT USING (active = true OR public.is_admin(auth.uid())); CREATE POLICY \Admins
manage
sample_packs\ ON public.sample_packs FOR ALL USING (public.is_admin(auth.uid()));
